/*IMPORTS*/
/*@import url('https://fonts.googleapis.com/css?family=Amatic+SC');*/
/*font-family: 'Amatic SC', cursive;*/

html{
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

body{
	min-width: 100%;
	min-height: 100%;
	padding-bottom: 120px;
}

.navbar-brand{
	padding: 0 !important;
	outline: none;
	margin: 0;
	border-right: 4px solid #333;
	border-radius: 0 0 4px 0;
}

.navbar{
	background: #2F4F4F;
	padding: 0 0 1px 0;
	box-shadow: 0px 0px 7px #333;
}

.navbar-nav{
	padding-right: 20px;
	border-top: 2px solid #2c7873;
	margin-top: 1px;
}

.navbar-toggler{
	margin-right: 20px;
}

#logo{
	background: url('../img/amparo.png') 0px 0 no-repeat;
	background-size: 100% 100%;
	width: 150px;
	max-width: 150px;
	height: 100px;
	border-radius: 0 0 4px 0;
}

#nome{
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
	display: none;
	color: #FFF;
}

.nav-link{
	padding-left: 10px !important;
}

.nav-link:hover{
	padding-left: 25px !important;
}

.dropdown-menu{
	background: #00b190;
	color: #FFF;
}

.dropdown-item{
	color: #FFF !important;
}

.dropdown-item:hover{
	background-color: #2F4F4F;
}

.ativo{
	font-weight: bolder;
	color: #FFF !important;
}

.content{
	margin-top: 50px;
}

.table{
	margin-top: 80px;
	margin-bottom: 80px;
}

.legenda{
	margin: 120px auto 0 auto;
	font-size: 1.3em;
    text-align: center;
}

.text-aqua{
	color: #46bfbd;
}

.text-red{
	color: #f7464a;
}

.text-orange{
	color: #fdb45c;
}


footer{
	text-align: center;
	background: #2F4F4F;
	position: absolute;
	bottom: 0;
}

footer > p{
	padding: 30px 0;
	margin: 0;
	color: #FFF;
	font-size: 1.5em;
	font-family: 'Amatic SC', cursive;
}

@media all and (min-width: 675px){
	#nome{
		display: block;
	}
}

@media all and (min-width: 992px){
	#nome{
		display: none;
	}

	.navbar-nav{
		border: none;
	}

	.nav-link{
		padding: 15px !important;
		border-top: 2px solid transparent;
	}

	.ativo{
		border-top: 2px solid #2c7873;
		padding-top: 11px !important;
		padding-bottom: 19px !important;
		padding-left: 15px !important;
		font-weight: bolder;
		color: #FFF !important;
	}

	.nav-link:hover{
		border-top: 2px solid #2c7873;
		padding-top: 11px !important;
		padding-bottom: 19px !important;
		padding-left: 15px !important;
	}
}

@media all and (min-width: 768px){
    .legenda{
        text-align: left;
    }
}
